<aside class="w-64 h-[calc(100vh-64px)] border-r border-gray-200 bg-white p-4">

  <nav class="flex flex-col gap-2">

    <a
      routerLink="/dashboard"
      routerLinkActive="bg-slate-100"
      class="flex items-center gap-3 rounded-lg px-4 py-3 transition hover:bg-slate-100"
    >
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a
      routerLink="/employees"
      routerLinkActive="bg-slate-100"
      class="flex items-center gap-3 rounded-lg px-4 py-3 transition hover:bg-slate-100"
    >
      <mat-icon>group</mat-icon>
      <span>Employees</span>
    </a>

    <a
      routerLink="/settings"
      routerLinkActive="bg-slate-100"
      class="flex items-center gap-3 rounded-lg px-4 py-3 transition hover:bg-slate-100"
    >
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </a>

  </nav>

</aside>